# Numpy 기초

> ### **Numpy**
> - **Numerical Python.** Python에서 **대규모 다차원 배열** 을 다룰 수 있게 도와주는 라이브러리
> - 데이터의 대부분은 숫자 배열로 볼 수 있다.
>   - ex) 사진 : 픽셀마다 데이터를 숫자로 표현할 수 있음
>   - ex) 소리 : 음압, 시간으로 2차원 배열이 가능하다.

## 외않 List?
- 파이썬 리스트로 계산할 수 있지만 numpy는 **빠른 연산** 을 지원하고 **메모리를 효율적으로** 사용할 수 있다.

<br><br><br><br>

## 배열 만들기

In [1]:
list(range(10)) # [0,1,2,3,4,5,6,7,8,9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
import numpy as np
np.array([1,2,3,4,5]) # array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [3]:
np.array([[1,2],
          [3,4]])

array([[1, 2],
       [3, 4]])

In [4]:
np.array([1,2,3,4],dtype='float') # 실수형태

array([1., 2., 3., 4.])

### 배열 데이터 타입 dtype
- 파이썬 List와 다르게 array는 단일타입으로 구정되있다.

- int : 정수형 (i, int_, int32, int64, i8)
- float : 실수형 (f, float_, float32 ...)
- str : 문자열 (str, U, U32)
- bool : 부울 (?, bool_)

In [6]:
arr = np.array([1,2,3,4,5],dtype='float')
arr

array([1., 2., 3., 4., 5.])

In [7]:
arr.dtype

dtype('float64')

In [8]:
arr.astype(int) # 데이터타입 변경하기

array([1, 2, 3, 4, 5])

### 다양한 배열 만들기

In [9]:
np.zeros(10, dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [10]:
np.ones((3,5), dtype=float)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [12]:
np.arange(0,20,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [13]:
np.linspace(0,1,5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

#### 난수로 채워진 배열

In [15]:
np.random.random((2,2))

array([[0.85281579, 0.40676426],
       [0.64675512, 0.74872535]])

In [16]:
np.random.normal(0,1,(2,2)) # 정규분포로 추출. : 여기에선 평균이 0이고 표준편차가 1인 2x2 행렬

array([[0.89195082, 0.34020115],
       [0.85869581, 0.19066568]])

In [17]:
np.random.randint(0,10,(2,2))

array([[0, 4],
       [5, 7]])

In [19]:
#0부터 5사이 랜덤한 값(정수)이 담긴 3x5 array를 만들어 봅시다!

array = np.random.randint(0,5,(3,5))
array

array([[3, 1, 3, 2, 1],
       [0, 2, 1, 3, 1],
       [4, 1, 1, 2, 3]])